.DS_Store

# webstorm项目文件
.idea/

# node、npm相关
node_modules/
node_modules_private/
/package.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# webpack相关
/webpack.*.js

# 其它第三方工具文件
/.babelrc
postcss.config.js

# git相关
.gitignore

# 发布目录
public/
dist/

# 备份文件
*.js.bak
config.zip

#系统相关
.DS_Store

# 其它
test/unit/coverage
test/e2e/reports
selenium-debug.log